
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<form action="/" method="post">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Name
           
            <span style="align-content: center;" class="badge badge-primary badge-pill">Price</span>
        </li>
       
    </ul>
        <input type="submit" value="Check out" class="btn btn-primary">
</form>
